#loading {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#loading::before {
    content: "";
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* 초기 투명도 0으로 설정 */
    animation: fadeIn 6s ease-in-out forwards; /* fadeIn 애니메이션 적용 */
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* 0초에서 투명도 0 */
    }
    100% {
        opacity: 0.2; /* 6초일 때 투명도 20% (0.2) */
    }
}


.container2 {
    /* 기존 스타일 유지 */
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text2 {
    /* 기존 스타일 유지 */
    font-family: 'NeoDunggeunmo';
    color: white;
}

.titletxt {
    /* 기존 스타일 유지 */
    font-family: 'Catalina Village';
    color: white;
    text-align: center;
    font-size: 60px;
}

.loading {
    /* 기존 스타일 유지 */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box {
    /* 기존 스타일 유지 */
    padding: 0.4px;
    width: 500px;
    height: 14px;
    border: 2px solid #ffffff;
    align-items: center;
}

.loading .line-box .line {
    /* 기존 스타일 유지 */
    height: 14px;
    background: #ffffff;
    animation: loading 6s forwards cubic-bezier(0,0,0,0);
    align-items: center;
}

@keyframes loading {
    /* 기존 스타일 유지 */
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
