
 .container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #image-now {
    position: absolute;
    width: 40vw;
    height: 30vw;
    overflow: hidden;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 #image-now img {
    position: absolute;
    height: 100vh;
    margin: 0;
    border: 3px solid #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 /* 점점 넓어지는 애니메이션 */
 .expand-animation {
    animation-name: expand;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

 @keyframes expand {
    0% {
        width: 40vw;
        height: 30vw;
    }
    
    100% {
        width: 100%;
        height: 100%;
    }
  }
  