@import url('main.css');
@import url('puzzle-style.css');
@import url("https://use.typekit.net/ndy1clu.css");

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}

.content-wrapper {
   position: relative;
   display: flex;
   border-radius: 40px;
   width: calc(100vw - 72px);
   height: calc(100vh - 76px);
   overflow: hidden;
   align-items: center;
   justify-content: center;
}

.content-wrapper::after {
   content: " ";
   position: absolute;
   display: block;
   width: 97%;
   height: 97%;
   border-radius: 38px;
   border: 1.5px solid #000; 
   box-sizing: border-box;  
   margin: 50px;
   z-index: 0;
}

.ui-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 1;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   align-items: center;
   justify-content: center;
   padding: 40px;
   box-sizing: border-box;
   color: white;
}

/* left,right section */
.side-wrapper {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-family: 'Lora', sans-serif !important;
   font-weight: bold;
}


#address {
   font-family: 'Lora', sans-serif !important;
   font-weight: bold;
}

#arrow {
   /* height : 100%; */
   width: 20px;
}

/* 가운데 영역 */
.center-wrapper {
   height: 100%;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   text-align: center;
   justify-content: center;
}

/* 팝업 */
#ending-popup {
   color: black;
   border-radius: 16px;
   border: 2px solid #000;   
   background: #F5EFEB;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   display: flex;
   align-items: center;
   justify-content: center;
   justify-items: center;
   padding: 50px;
}
/* 팝업 데코 라인 */
#ending-popup::after {
   content: " ";
   position: absolute;
   display: block;
   width: 97%;
   height: 95%;
   border-radius: 16px;
   border: 1px solid #000; 
   box-sizing: border-box;  
   margin: 50px;
   z-index: 0;
}
/* 팝업 문구 */
#ending-popup > p {
   font-size: 16px;
   flex-wrap: wrap;
   line-height: 140%;
   width: 100%;
   padding: 0 0 40px 0 ;
}
/* 팝업 CTA */
button#watching-mode-btn {
   padding: 12px;
   border-radius: 32px;
   border: 2px solid #000;
   width: 50%;
   z-index: 1;
}
button#watching-mode-btn:hover {
   background-color: white;
   transform: scale(1.1);
   cursor: zoom-in;
}

/* TEAMWEB LOGO*/
.center-wrapper>:last-child {
   align-self: end;
}

/* 우측영역 */

#date {
   font-family: 'Lora', sans-serif !important;
   font-weight: bold;
}

#home-btn {
   background-color: inherit ;
   border: none;
   outline: none;
   right: 0;
   display: flex;
   justify-content: right;
}
#home-btn > div {
   position: relative;
   width: 170px;
   height: 170px;
}
#home-btn > div > p {
   position: absolute;
   height: 100%;
   width: 100%;
   line-height: 170px;
   text-align: center;
}


#image-now-bg{
   opacity: 1;
   position: absolute;
   z-index: 0;
}

 /* 점점 넓어지는 애니메이션 */
 .expand-animation {
    animation-name: expand;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

 @keyframes expand {
    0% {
        width: var(--frame-width);
        height: var(--frame-heigth);
    }
    
    100% {
        width: 100%;
        height: 100%;
    }
  }
  