@import url(main.css);
@import url(animation.css);

* {
    color: white;
    font-family: 'NeoDunggeunmo';
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background-img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    z-index: -99;
}

.dim-solid {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: -90;
}

/* 초대장영역 */
.envelope-bg {
    position: relative;
    width: 70vw;
    height: 40vw;
    z-index: 99;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* 초대장 채워진 이미지 */
#envelope-filled {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: fill;
}
/* 초대장 외곽선 svg 프레임 */
#envelope-outline {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* 초대장 외곽선 애니메이션용 path  */
#line {
    stroke-width: 1;
    stroke: white;
}

/* 글자영역 */
.text-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    flex-direction: column;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    box-sizing: border-box;
    padding: 2vw;
    
}
#title-div {
    display: flex;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    max-width: 50vw;
    height: 100%;
    align-items: end;
    overflow: hidden;
}
img.title {
    font-family: 'Catalina Village';
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    width: 100%;
    /* max-width: 50vw; */
    /* height: auto; */
    object-fit: contain;
    position: relative;
    display: block;
    opacity: 0;
}
.deco-text {
    align-self: start;
    font-size: 24px;
    font-family: 'lora',serif;
    max-width: 60%;
    padding: 2vw;
    opacity: 0;
}
.deco-text#time {
    justify-self: end;
    text-align: right;
}
.center-section {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
}
.loading-message p{
    font-family: 'NeoDunggeunmo';
    font-size: 24px;
    text-align: center;
}
.loading-bar {
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.loading-bar .line-box {
    padding: 0.4px;
    width: 100%;
    height: 14px;
    border: 2px solid #ffffff;
    align-items: center;
}

.loading-bar .line-box .line {
    height: 14px;
    background: #ffffff;
    align-items: center;
    width: 0%;
}

.loading-bar .line-box .line.loading-start {
    animation: loading 6s forwards ease-in;
}

@keyframes loading {
    /* 기존 스타일 유지 */
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.button-wrapper {
    width: 30%;
    height: 30%;
    display: none;
    text-align: center;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: end;
    z-index: 99;
}

.button-wrapper>p{
    display: block;
    padding: 0 0 30px 0;
    color: #333;
}

.button-wrapper > #go-btn {
    width: 80%;
    height: 60px;
    max-height: 80px;
    line-height: 60px;
    color: black;
    border-radius: 40px;
    background-color: white;
    transition: .3s;
}

.button-wrapper > #go-btn:hover {
    transform: scale(1.1);
}