
:root {
    /* 프레임 크기 변수 지정 */
    --frame-width: calc(70vh*4/3);
    --frame-heigth: 70vh;
 }

 * {
    /* 공통 스타일 */
    font-family: 'pretendard';
    touch-action: none;
    margin: 0;
}

@font-face {
    font-family: 'Catalina Village';
    src: url("https://fonts.cdnfonts.com/css/catalina-village");
}

/* 반응형 포트 사이즈 */
@media (max-width: 1600px) and (min-width: 500px) {
    :root {
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    :root {
        font-size: 9px;
    }
}