:root {
    /* 프레임 크기 변수 지정 */
    --frame-width: calc(65vh*16/9);
    --frame-height: 65vh;
 }

 * {
    /* 공통 스타일 */
    font-family: 'NeoDunggeunmo';
    touch-action: none;
    margin: 0;
}

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}