@import url(/src/css/main.css);

/* 타이틀 */
.title-container {
    white-space: nowrap;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 16px;
    font-size: 28pt;
    width: var(--frame-width);
    text-align: center;
}

.fix-word{
    padding-right: 8px;
}

.prev-word {
    position: absolute;
    /* display: inline-block; */
    animation: shrinkAnimation 1s 2s forwards;
    transform-origin: bottom;
}

.next-word {
    position: absolute;
    display: inline-block;
    transform: scaleY(0);
    animation: appearAnimation 1s 2s forwards;
    transform-origin: top;
}


@keyframes shrinkAnimation {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes appearAnimation {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

/* 배경이미지*/
#image-now {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: var(--frame-width);
    overflow: hidden;
    z-index: -99;
}

#image-now img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 100vh; */
    transform: translate(-50%, -50%);
}


/* 퍼즐조각들이 돌아다닐 공간(화면크기) */
#puzzle {
    position: fixed;
    top: 0;
    left: 0;
}

/* 퍼즐조각 */
.puzzle-piece {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    filter: url(#round) drop-shadow(3px 5px 1px rgba(0, 0, 0, 0.5));
    transform: translateZ(0);
}

.puzzle-piece-inner{
    width: 100%;
    height: 100%;
    filter: none;
}

/* 정위치에 스냅되었을 경우 페이드아웃 */
.puzzle-piece.rightplace {
    animation: fadeout 0.8s forwards;
}

@keyframes fadeout {
    0% {
        filter: url(#round) drop-shadow(3px 5px 1px rgba(0, 0, 0, 0.5));
    }

    20%{
        filter: url(#round) drop-shadow(0px 0px 8px rgba(20, 96, 168, 0.5));
    }

    60%{
        filter: url(#round) drop-shadow(0px 0px 8px rgba(20, 96, 168, 0.5));
    }

    100% {
        filter: url(#no-round) drop-shadow(0 0 5px rgba(0, 0, 0, 0));
    }
}

/* 퍼즐이 스냅된 경우 뜨는 애니메이션 */
.puzzle-piece.snap {
    animation: blink 0.5s;
}

@keyframes blink {
    0% {
        filter: url(#round) drop-shadow(3px 5px 1px rgba(0, 0, 0, 0.5));
    }

    50% {
        filter: url(#round) drop-shadow(0 0 0 rgba(0, 0, 0, 0.5));
    }

    100% {
        filter: url(#round) drop-shadow(3px 5px 1px rgba(0, 0, 0, 0.5));
    }
}

#puzzle-board {
    top: 0;
    left: 0;
    z-index: -99;
    position: absolute;
    visibility: hidden;

}

.puzzle-position {
    position: absolute;
    width: 100px;
    height: 100px;
    outline: 1px solid #000;
}


/* --- 진행도 표시 --- */
#progress-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(70vh*4/3);
    height: 50px;
    /* background-color: cyan; */
    z-index: -1;
}

/* 숫자 형식 */
#progress-number {
    display: none;
    width: 200px;
    font-size: 20pt;
    padding: 10px;
    text-align: center;
}

/* 바 형식 */
#progress-subway{
    width: 100%;
    height: 100%;
}

#bar-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(70vh*4/3 - 140px);
    height: 20px;
    background-color: #ddd;
    /* overflow: hidden; */
}

.spot{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #ddd;
    z-index: 50;
    transition: 0.5s ease;
}
#left{
    left: 0;
}
#right{
    left: 100%;
}

.here{
    border: 10px solid #FFAD33;
}

.station{
    position: absolute;
    font-size: 16pt;
    transform: translate(0, -50%);
    top: 50%;
}
#now{
    left: 0;
}
#past{
    right: 0;
}

#subway{
    background-image: url(../img/car.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 36px;
    /* left: 0; */
    bottom: 0;
    transition: 0.5s ease;
    z-index: 51;
}

#progress-bar{
    width: 0%;
    height: 100%;
    background-color: #FFAD33;
    transition: width 0.5s ease;
}


/* --- 개발자용 --- */

/* 완성된 경우 메시지박스(임시) */
#puzzle-complete {
    position: fixed;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    color: #fff;
    background: #000;


}

#puzzle-complete.active {
    visibility: visible;
    opacity: 1;
    transition: .6s;
}

/* 한방에완성 버튼 */
#puzzle-solve {
    font-size: 20pt;
    padding-block: 8px;
    padding-inline: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100px;
}

#puzzle-solve:active {
    color: #fff;
    background-color: #000;
}

