@import url('main.css');

/* 인터 배경 */
#image-now-bg{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -100;
}

#image-now-bg img{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}


/* 퍼즐 배경이미지 */
#image-now {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--frame-height);
    width: var(--frame-width);
    overflow: hidden;
    z-index: -99;
    border:  1px solid #fff
}

#board-outline{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--frame-height);
    width: var(--frame-width);
    border: 20px solid;
    border-image: url('/src/img/wave.png') 33 round;
}

#image-now img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 퍼즐조각들이 돌아다닐 공간(화면크기) */
#puzzle {
    position: fixed;
    top: 0;
    left: 0;
}

/* 퍼즐조각 */
.puzzle-piece {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    filter: url(#round) drop-shadow(3px 5px 0px rgba(0, 0, 0, 0.5));
    transform: translateZ(0);
}

.puzzle-piece-inner{
    width: 100%;
    height: 100%;
    filter: none;
}

/* 정위치에 스냅되었을 경우 페이드아웃 */
.puzzle-piece.rightplace {
    animation: fadeout 0.8s forwards;
}

@keyframes fadeout {
    0% {
        filter: url(#round) drop-shadow(3px 5px 0px rgba(0, 0, 0, 0.5));
    }

    20%{
        filter: url(#round) drop-shadow(0px 0px 8px rgba(20, 96, 168, 0.5));
    }

    60%{
        filter: url(#round) drop-shadow(0px 0px 8px rgba(20, 96, 168, 0.5));
    }

    100% {
        filter: url(#no-round) drop-shadow(0 0 5px rgba(0, 0, 0, 0));
    }
}

/* 퍼즐이 스냅된 경우 뜨는 애니메이션 */
.puzzle-piece.snap {
    animation: blink 0.5s;
}

@keyframes blink {
    0% {
        filter: url(#round) drop-shadow(3px 5px 0px rgba(0, 0, 0, 0.5));
    }

    30% {
        filter: url(#round) drop-shadow(3px 5px 0px rgba(0, 0, 0, 0));
    }

    100% {
        filter: url(#round) drop-shadow(3px 5px 0px rgba(0, 0, 0, 0.5));
    }
}

/* 퍼즐 스냅 위치 */
#puzzle-board {
    top: 0;
    left: 0;
    z-index: -99;
    position: absolute;
    visibility: hidden;

}

.puzzle-position {
    position: absolute;
    width: 100px;
    height: 100px;
    outline: 1px solid #000;
}


/* --- 진행도 표시 --- */
#progress-container {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    height: 50px;
    z-index: -1;
    transition: 1s;
}

#loading-icon{
    height: 12pt;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#progress-number {
    width: fit-content;
    font-size: 20pt;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* --- 개발자용 --- */

/* 완성된 경우 메시지박스(임시) */
#puzzle-complete {
    position: fixed;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    color: #fff;
    background: #000;


}

#puzzle-complete.active {
    visibility: visible;
    opacity: 1;
    transition: .6s;
}

/* 한방에완성 버튼 */
#puzzle-solve {
    font-size: 20pt;
    padding-block: 8px;
    padding-inline: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100px;
}

#puzzle-solve:active {
    color: #fff;
    background-color: #000;
}

