/* --- puzzle --- */

* {
    font-family: 'pretendard';
    touch-action: none;
}

/* 배경이미지*/
#image-now {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: calc(75vh*4/3);
    overflow: hidden;
    z-index: -99;
}

#image-now img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 퍼즐조각들이 돌아다닐 공간(화면크기) */
#puzzle {
    position: fixed;
    top: 0;
    left: 0;
}

/* 퍼즐조각 */
.puzzle-piece {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    background-color: #ff00ff;
    outline: 2px solid #000;
}

/* 정위치에 스냅되었을 경우 페이드아웃 */
.puzzle-piece.rightplace {
    /* outline-color: #fff; */
    animation-name: fadeout;
    animation-duration: 0.5s;
    /* animation-delay: -0.5s; */
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        outline-color: #000;
    }

    /* 50%{outline-color: transparent;} */
    100% {
        outline-color: transparent;
    }
}


/* 퍼즐이 스냅된 경우 뜨는 애니메이션 */
.puzzle-piece.snap {
    animation: blink 0.5s;
}

@keyframes blink {
    20% {
        outline-color: #fff;
    }

    50% {
        outline-color: #fff;
    }
}

#puzzle-board {
    top: 0;
    left: 0;
    z-index: -99;
    position: absolute;
    visibility: hidden;

}

.puzzle-position {
    position: absolute;
    width: 100px;
    height: 100px;
    outline: 1px solid #000;
}


/* --- 진행도 표시 --- */
#progress-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    height: 50px;
    background-color: beige;
}

/* 숫자 형식 */
#progress-number {
    display: none;
    width: 200px;
    font-size: 20pt;
    padding: 10px;
    text-align: center;
}

/* 바 형식 */
#progress-subway{
    /* display: none; */
    width: 800px;
}

#bar-container{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    height: 20px;
    background-color: #ddd;
    /* overflow: hidden; */
}

.spot{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #ddd;
    z-index: 50;
    transition: 0.5s ease;
}
#left{
    left: 0;
}
#right{
    left: 100%;
}

.here{
    border: 10px solid #9d4;
}

.station{
    position: absolute;
    font-size: 16pt;
    transform: translate(50%, -50%);
    top: 50%;
}
#now{
    left: -100px;
}
#past{
    left: 500px;
}

#subway{
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 25px;
    background-color: #fd3;
    left: 0;
    top: -20px;
    transition: 0.5s ease;
}

#progress-bar{
    width: 0%;
    height: 100%;
    background-color: #9D4;
    transition: width 0.5s ease;
}


/* --- 개발자용 --- */

/* 완성된 경우 메시지박스(임시) */
#puzzle-complete {
    position: fixed;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    color: #fff;
    background: #000;


}

#puzzle-complete.active {
    visibility: visible;
    opacity: 1;
    transition: .6s;
}

/* 한방에완성 버튼 */
#puzzle-solve {
    font-size: 20pt;
    padding-block: 8px;
    padding-inline: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 100px;
}

#puzzle-solve:active {
    color: #fff;
    background-color: #000;
}

